# Misc files
*~
~*
._*
.DS_Store
Desktop.ini
Thumbs.db
.Trashes

# dependencies
node_modules

# Output files
dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log

# Folder config file
[Dd]esktop.ini

# Windows shortcuts
*.lnk
